.crypto-card {
  margin-bottom: 20px;
}
.crypto-card .text-muted {
  color: rgb(162, 174, 185) !important;
  /* color: white !important; */
}

.chart-row {
  margin:5px;
}
.chart-container {
  padding-top: 15px;
}