certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
Flask==1.1.2
Flask-Caching==1.8.0
Flask-Cors==3.0.8
idna==2.6
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
requests==2.23.0
requests-cache==0.5.2
six==1.14.0
urllib3==1.24.2
Werkzeug==1.0.1
